<h1>Bienvenue sur votre boîte de reception</h1> 

<table class="table"> 

    <thead>
        <tr> 
            <td>OBJECT</td> 
            <td>ACTIONS</td> 
            <td>BODY</td>
        </tr>

    </thead> 

    <tbody> 

    <% @email.each do |email| %>   
    
    <tr> 
    <td> <%= link_to email.object, email_show_path(:id => email.id),  :remote => true %></td>
    <td> 
      <div class="link">
        <a href="<%= email_path(email.id) %>" class="btn btn-danger" data-confirm="sur?" data-method="delete">Supprimer</a> 
      </div>
    </td>
    <td>
        <div id="show"></div>
    </td> 
    </tr>
        <%end%>
    </tbody> 
</table>



